@font-face {
  font-family: "iconfont"; /* Project id 4775717 */
  src: url('//at.alicdn.com/t/c/font_4775717_8g1fksftkhk.woff2?t=1733849066716') format('woff2'),
       url('//at.alicdn.com/t/c/font_4775717_8g1fksftkhk.woff?t=1733849066716') format('woff'),
       url('//at.alicdn.com/t/c/font_4775717_8g1fksftkhk.ttf?t=1733849066716') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e602";
}

.icon-dianzan1:before {
  content: "\e616";
}

.icon-pinglun:before {
  content: "\e679";
}

.icon-fenxiang:before {
  content: "\e622";
}

.icon-changyongxinxi:before {
  content: "\e886";
}

.icon-chuxingqingdan:before {
  content: "\e601";
}

.icon-qinqingqia:before {
  content: "\e6b6";
}

.icon-lipinka:before {
  content: "\e60a";
}

.icon-icon_fuwu_baoxiaopingzheng:before {
  content: "\e604";
}

.icon-daifukuan:before {
  content: "\e704";
}

.icon-daidianping:before {
  content: "\e654";
}

.icon-daichuhang:before {
  content: "\e80a";
}

.icon-qiandao:before {
  content: "\e653";
}

.icon-saoyisao:before {
  content: "\e62e";
}

.icon-kefu:before {
  content: "\e65b";
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-jiahao2fill:before {
  content: "\e728";
}

.icon-xiaoxi:before {
  content: "\e62c";
}

.icon-icon-1:before {
  content: "\e657";
}

.icon-xingchengshouji:before {
  content: "\e6c1";
}

.icon-ditu:before {
  content: "\e68b";
}

.icon-youjiantou1:before {
  content: "\e60e";
}

.icon-zuojiantou:before {
  content: "\e65a";
}

.icon-youjiantou:before {
  content: "\e600";
}

.icon-jingxuan:before {
  content: "\e786";
}
